<?xml version="1.0"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	
	
	<!-- 日志信息 -->
	<bean id="TxnInfoDAO" class="com.huateng.dao.impl.base.TblTxnInfoDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	
	<bean id="RoleInfDAO" class="com.huateng.dao.impl.base.TblRoleInfDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="RoleFuncMapDAO" class="com.huateng.dao.impl.base.TblRoleFuncMapDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="commQueryDAO" class="com.huateng.commquery.dao.CommQueryDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactoryQuery" />
		</property>
	</bean>
	<bean id="T10301BO" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<value>com.huateng.bo.base.T10301BO</value>
		</property>
		<property name="interceptorNames">
			<value>T10301BOTarget</value>
		</property>
	</bean>
	<bean id="T10301BOTarget" class="com.huateng.bo.impl.base.T10301BOTarget">
		<property name="tblRoleInfDAO">
			<ref bean="RoleInfDAO" />
		</property>
		<property name="tblRoleFuncMapDAO">
			<ref bean="RoleFuncMapDAO" />
		</property>
		<property name="commQueryDAO">
			<ref bean="commQueryDAO" />
		</property>
	</bean> 
</beans>